.hat {
  display: flex;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
}

.profile {
  background-color: #222;
  position: absolute;
  align-items: center;
  right: 20px;
  height: 90px;
  padding: 0;
}

.profile:hover {
  background-color: #333;
  cursor: pointer;
}

.title {  
  position: relative;
  color: #272727;
  user-select: none;
  font-size: 56px;
  font-style: italic;
  margin: 0px;
  margin-right: 20px;
  margin-left: 0;
  margin-top: 10px;
  right: 4px;
}

html, body {
  height: 100%;
  font-family: Roboto;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #444 0%, #333 100%);
  overflow: hidden;
}

main {
  margin-top: 90px;
  position: absolute;
  z-index: 10;
}

.games_grid {
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 40px;
  margin-left: 28vh;
  margin-right: 28vh;
  height: 80vh;
  display: grid;
  align-items: center;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr); 
}

.panel {
  user-select: none;
  background-color: #555;
  border-radius: 10px;
  height: 480px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.panel:hover{
  background-color: #666;
  cursor: pointer;
}


.game_image {
  position: static;
  border-radius: 8px;
  width: 280px;
  height: 400px;
  margin: 10px;
  overflow: hidden;
}

.game_name {
  cursor: inherit;
  position: static;
  color: #ddd;
  font-size: 20px;
  margin: 10px; 
  margin-top: 0;
  font-weight: bold;
}

.game_info {
  display: flex;
  align-items: center;
}


.year {
  cursor: inherit;
  position: static;
  color: #aaa;
  font-size: 14px;
  margin: 10px; 
  margin-top: 0;
  margin-left: auto;
  font-weight: bold;
  margin-right: 10px;
}

.rating {
  display: flex;
  flex-direction: column;
  position: static;
  margin: 10px;
  margin-left: 0;
  margin-top: 0px;
}

.rating_score {
  cursor: inherit;
  font-size: 40px;
  font-weight: bold;
  color: #cfc;
}

.rating_quantity {
  cursor: inherit;
  font-size: 10px;
  font-weight: bold;
  color: #696;
  align-self: center;
}

.icon {
  background: linear-gradient(180deg, #ddd 0%, #aaa 100%);
  margin: 10px;
  border-radius: 18px;
}

.icon_image {
  margin: 4px;
  margin-left: 10px;
  margin-bottom: 6px;
  margin-right: 0;
}

.panel_link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 480px;
}

.search_bar {
  font-family: Roboto;
  padding: 0 20px;
  margin-left: 15vw;
  background: linear-gradient(180deg, #bbb, #aaa);
  width: 40vw;
  height: 60px;
  border-radius: 50px;
  border-color: #ccc;
  border-width: 4px;
  border-style: solid;
  font-size: 24px;
  box-sizing: border-box;
  outline: none;
  color: #272727;
  caret-color: #272727;
}

.search_bar::placeholder {
  color: #777;
  font-style: italic;
  font-size: 30px;
  opacity: 0.8;
}

.search_bar::selection {
  background-color: #272727;
  color: #ccc;
}

.search_bar:hover, .search_bar:focus {
  background: linear-gradient(180deg, #ccc, #bbb);
  border-color: #ddd;
  filter: drop-shadow(0 0 12px rgba(170, 170, 170, 0.4));
  &::placeholder {
    color: #888;
  }
}

.home_link {
  display: flex;
  text-decoration: none;
  border-radius: 18px;
}